<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <servlet>
    <description></description>
    <display-name>SaveBioData</display-name>
    <servlet-name>SaveBioData</servlet-name>
    <servlet-class>SaveBioData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveBioData</servlet-name>
    <url-pattern>/SaveBioData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.Whole_Login.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPassword</display-name>
    <servlet-name>ForgetPassword</servlet-name>
    <servlet-class>com.Whole_Login.ForgetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassword</servlet-name>
    <url-pattern>/ForgetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetOTP</display-name>
    <servlet-name>ForgetOTP</servlet-name>
    <servlet-class>com.Whole_Login.ForgetOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetOTP</servlet-name>
    <url-pattern>/ForgetOTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetPassword</display-name>
    <servlet-name>SetPassword</servlet-name>
    <servlet-class>com.Whole_Login.SetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetPassword</servlet-name>
    <url-pattern>/SetPassword</url-pattern>
  </servlet-mapping>
</web-app>